---
import Layout from "@/layouts/Layout.astro"
import Datos_Ajedrez from "@/components/Datos_Ajederez.astro"
import SectionContainer from "@/components/SectionContainer.astro"
---

<Layout
  title="Porfolio de Orlando -Analista de Datos y Desarrollador Low-Code con más de 3 años de experiencia"
  description="Apasionado por transformar datos en decisiones y automatizar procesos con herramientas de RPA y plataformas Low-Code. Me encanta optimizar tareas repetitivas y construir soluciones ágiles que generen impacto."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
    <Datos_Ajedrez/>
    </SectionContainer>


  </main>
</Layout>
